main{
    width: 85%;
    margin: 0 auto;
    background-color: $gray-light;
    // =======================BANER ====================
    .baner{
        position: relative;
        overflow: hidden;
        .baner-img{
            .baner-desktop{
                display: flex;
                img{
                width: 100%;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.05);
                }
                }                
            }
            .baner-mobile{
                display: none;
            }
        }
        .baner-text{
            width: 50%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            a{
                display: flex;
                justify-content: center;
                img{
                    width: 60%;
                    height: 100%;
                }
            }
            p{
                font-size: $fs;
                color: white;
                margin: 2% 0;
            }
            button{
                background-color: $btn-bg;
                border: none;
                outline: none;
                color: white;
                width: 30%;
                padding: 2% 0;
                font-size: $fs;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    // =============== Two card part 1 =================
    .card-p1{
        // background-color: $gray-light;
        display: flex;
        justify-content: space-between;
        padding: 2% 5%;
        div{
            width: 49%;
            a{
                display: flex;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            span{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 1% 3%;
                background-color: white;
                height: 8vw;
                overflow: hidden;
                
                p{
                font-size: $fs;
                
                }
                small{
                    font-size: calc($fs - 0.1vw);
                    display: flex;
                   
                    a{
                        color: black;
                        margin-left: 1%;
                    }
                }
                .btn-p1{
                    width: 20%;
                    color: black;
                    font-size: calc($fs - 0.2vw);
                    font-weight: bold;
                }
            }
        }

    }
    // ================= Neu auf disney ================
    .neu-auf-disney{
        padding: 2% 4%;
        background-color: #030c40;
        display: flex;
        flex-direction: column;
        align-items: center;
        .neu-auf-disney-title{
            text-align: center;
            font-size: calc($fs + 0.6vw);
            color: white;
            margin-bottom: 2%;
        }
        .three-divs{
            display: flex;
            align-items: center;
            justify-content: space-between;
            div{
                width: 23%;
                // margin-right: 1%;
                a{
                    display: flex;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &:nth-child(3){
                    width: 47%;
                     margin: 0;
                     span{
                        padding: 0% 3%;
                     }
                    
                }
                span{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    background-color: white;
                    height: 10vw;
                    padding: 1% 3%;
                    overflow: hidden;
                    p{
                        font-size: $fs;
                    }
                    small{
                        font-size: calc($fs - 0.1vw);
                    }
                    a{
                        width: 20%;
                        color: black;
                        font-size: calc($fs - 0.2vw);
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
            
        }
        // ===========Brands ============
        .brands{
            display: flex;
            width: 60%;
            margin: 3% 0;
            img{
                width: 100%;
                height: 100%;
            }
        }
        button{
            background-color: $btn-bg;
                border: none;
                outline: none;
                color: white;
                width: 20%;
                padding: 1% 0;
                font-size: $fs;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 3% 0;
        }
        h3{
            color: white;
            font-size: calc($fs - 0.2vw);
        }


    }
    // ============ SHOP ==============
    .shop{
        padding: 2% 5%;

        

        .shop-title{
            text-align: center;
            font-size: calc($fs + 0.6vw);
            color: black;
            margin-bottom: 2%;
        }
        

            .img-container{
                overflow: hidden;
                display: flex;
                flex-direction: column;
                position: relative;
                .shop-img{
                  
                   display: flex;
                   width: 100%;
                   .shop-mobile{
                       display: none;
                   }
                   
                    .shop-disktop{
                        display: flex;
                        width: 100%;

                        img{
                            width: 100%;
                            transition: 0.5s;

                            &:hover{
                                transform: scale(1.05);
                            }
                        }
                    }
                     
                    
                    
                }
                .shop-text{
                    width: 40%;
                    height: 100%;
                    padding-left: 6%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                   position: absolute;
                   top: 0;
                   left: 0;
                   bottom: 0;
                     
                    
                    a{
                        display: flex;
                        width: 50%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    p{
                        font-size: $fs;
                        margin: 3% 0;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        font-weight: bold;
                        font-size: calc($fs - 0.1vw);
                    }
                }
            }          
    }

    // ================== filme =========
    .filme{
        padding: 2% 5%;

        p{
            font-size: calc($fs + 0.6vw);
            text-align: center;
        }
        .filme-images{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 35%;
            .img{
                width: 49%;
                  height:22vw;
                overflow: hidden;
                div{
                overflow: hidden;

                    a{
                        display: flex;
                        img{
                            width: 100%;
                            height: 100%;
                            transition: 0.5s;
                            &:hover{
                                transform: scale(1.05);
                            }
                        }
                    }
                }
                p{
                    font-size: $fs;
                    margin-top: 3%;
                    text-align: left;
                }
                
            }
        }
    }
    // ================ Live Shows ============
    .live-shows{
        padding: 2% 5%;

        .live-shows-title{
            font-size: calc($fs + 0.4vw);
            text-align: center;
            margin: 2% 0;
        }
        .images-container{
            display: flex;
            justify-content: space-between;
            .left{
                position: relative;
               width: 49%;

                .left-img{
                    height: 100%;
                    overflow: hidden;
                    a{
                        display: flex;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            transition: 0.5s;
                            &:hover{
                                transform: scale(1.05);
                            }
                            
                        }
                    }
                }
                .left-text{
                    position:absolute;
                    z-index: 2;
                    bottom: 0;                  
                    text-align: center;
                    width: 100%;
                    padding: 6%;
                    a{
                        display: flex;
                        justify-content: center;

                        img{
                            width: 60%;
                        }
                    }
                    h3{
                        font-size: $fs;
                        color: white;
                    }
                }
            }
            .right{
                width: 49%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1vw 0;
                .right-up{
                    position: relative;
                    .right-up-img{
                        overflow: hidden;
                        a{
                            display: flex;
                            img{
                                width: 100%;
                                transition: 0.5s;
                            &:hover{
                                transform: scale(1.05);
                            }
                            }
                        }
                    }
                    .right-up-text{
                        position: absolute;
                        right: 0;
                        top: 50%;
                        padding-right: 5%;
                        text-align: right;
                        p{
                            color: white;
                            font-size: calc($fs + 0.4vw);
                            margin-bottom: 4%;
                        }
                        h3{
                            color: white;
                            font-size: $fs;
                        }
                    }
                }
                .right-bottom{
                    position: relative;
                    .right-bottom-img{
                        overflow: hidden;
                        a{
                            display: flex;
                            img{
                                width: 100%;
                                transition: 0.5s;
                            &:hover{
                                transform: scale(1.05);
                            }
                            }
                        }
                    }
                    .right-bottom-text{
                        position: absolute;
                        left: 0;
                        top: 50%;
                        padding-left: 5%;
                        text-align: left;
                        p{
                            color: white;
                            font-size: calc($fs + 0.4vw);
                            margin-bottom: 4%;
                        }
                        h3{
                            color: white;
                            font-size: $fs;
                        }
                    }
                    
                }
            }
        }
    }
    // ====================== park ===================
    .parks{
        padding: 2% 5%;
        .parks-title{
            text-align: center;
            font-size: calc($fs + 0.4vw);
        margin: 2% 0;

        }
        .parks-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
                width: 49%;
                .park-img{
                    width: 100%;
                    overflow: hidden;
                    a{
                        display: flex;
                        img{
                            width: 100%;
                            height: 100%;
                            transition: 0.5s;
                            &:hover{
                                transform: scale(1.05);
                            }
                        }
                    }
                }
                .park-text{
                    padding: 2%;
                    width: 100%;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    p{
                        font-size: calc($fs + 0.2vw);
                    }
                    small{
                        font-size: $fs;   
                        margin: 2% 0;                     
                    }
                    h3{
                        font-size: calc($fs - 0.1vw);
                    }
                }
            }
        }
    }
}